.blog {
    padding: 95px 0;

    .main-description {
        padding-bottom: 33px;
    }

    a {
        transition: .3s;

        &:hover {
            color: $red;
        }
    }

    &__list {

    }

    &__item {
        display: flex;
        padding: 38px 0;

        & + .blog__item {
            border-top: 1px solid #ddd;
        }
    }

    &__image {
        width: 460px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
    }

    &__description {
        flex-grow: 1;
        padding-left: 40px;
    }

    &__item-header {
        display: flex;
        align-items: center;
        margin: 0 0 15px;
    }

    &__date {
        width: 76px;
        height: 76px;
        flex-shrink: 0;
        margin-right: 25px;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: $font-montserrat;
        font-size: 24px;
        font-weight: 700;
        line-height: 1;
        padding: 5px;
        color: $grey;
        letter-spacing: 2px;
        border: 2px solid $font-color;

        span {
            text-transform: uppercase;
            font-size: 14px;
            padding: 5px 0 0;
        }
    }

    &__title {

        & > a {
            text-transform: uppercase;
            display: block;
            margin: 0 0 13px;
            font-size: 16px;
            font-family: $font-montserrat;
        }

        div {
            font-style: italic;
            font-size: 13px;
            color: $grey;
        }
    }

    &__preview {
        margin: 0 0 26px;
        line-height: 1.7;
    }

    &__link {
        color: $grey;
        text-transform: uppercase;
        font-size: 13px;
    }
}
