.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    // background: $header-color;
    // box-shadow: 0 5px 5px 1px rgba(50, 50, 50, .3);
    font-family: $font-montserrat;
    z-index: 5;
    transition: .3s;

    &.sticky {
        background: $red;
        box-shadow: 0 2px 8px 1px rgba(0, 0, 0, .2);
    }

    &__logo {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.5;
        color: $font-color-banner;
    }

    &__container {
        padding-top: 33px;
        padding-bottom: 33px;

        @include screen(1024) {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .menu-button,
        .close-menu {
            display: none;
        }

        @include screen(1024) {
            .menu-button,
            .close-menu {
                display: block;
                width: 25px;
                height: 25px;
                cursor: pointer;
            }

            .close-menu {
                position: absolute;
                right: 20px;
                top: 20px;
                transition: .3s;

                &:hover {
                    transform: rotate(-90deg);
                }
            }
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &.sticky {
            background: $red;
            box-shadow: 0 2px 8px 1px rgba(0, 0, 0, .2);
        }
    }
    .navigation-wrapper {
        .menu {
            display: flex;
            justify-content: center;
            width: 100%;

            @include screen(1024) {
                flex-direction: column;
                align-items: center;
            }
        }

        a {
            margin: 0 16px 0;
            line-height: 1.714;
            color: $font-color-banner;
        }
        @include screen(1024) {
            position: fixed;
            height: 100vh;
            overflow-y: auto;
            padding: 55px 0;
            width: 320px;
            background: $header-color;
            right: -110%;
            top: 0;
            display: block;
            box-shadow: -2px 0 6px 1px rgba(50, 50, 50, .3);
            transition: 1s;
            z-index: 10;

            &.active {
                right: 0;
            
                a {
                    color: $font-color-banner;
                }
            }
        }

        .navigation {

            @include screen(1024) {
                width: calc(50% - 74px);
                flex-grow: 1;
            }

            a {
                margin: 0 16px;
                line-height: 1.714;
                color: $font-color-banner;
            
            &:last-child {
                margin-right: 15px;
                }
            }
        }
    }
}
  