$font-montserrat: 'Montserrat', Arial, Tahoma, sans-serif;
$font-roboto: 'Roboto Slab', 'Times New Roman', serif;

$font-color: #555;
$grey: #777;
$white: #fff;
$grey-section: #f8f8f8;
$font-color-banner: #fff;
$header-color: #6b1f1a;
$red: #c0301c;